.header {
	padding : 10px;
    background:#444444;
    border:1px solid #CCC;
    margin:0px auto;
	border-bottom: 1px solid #ddd;
}
.standardowyPrzycisk{
	color:white;  border-top-left-radius:12px;
  border-top-right-radius:12px;
  border-bottom-right-radius:12px;
  border-bottom-left-radius:12px;

	padding: 20px;
	background-color: 66cc66;
    position: relative;
    top 10px;
	border: 2px solid #333;
	  border-bottom: 3px solid #333;
	   border-right: 3px solid #333;
}

.niebieskiStandardowyPrzycisk{
	color:white;  border-top-left-radius:12px;
  border-top-right-radius:12px;
  border-bottom-right-radius:12px;
  border-bottom-left-radius:12px;

	padding: 20px;
	background-color: #6666ee;
    position: relative;
    top 10px;
	border: 2px solid #333;
	  border-bottom: 3px solid #333;
	   border-right: 3px solid #333;
}
.niebieskiStandardowyPrzycisk:hover{
	background-color: #3333ee;
}
.standardowyPrzycisk:hover{
	background-color: #3b3;
}
.tekstNaglowka
{
	color: #dddddd;
	left: 10%;
}

.wierszLogowania
{
background-size: cover;
background-image: url("img/namiot (2).jpg");
	height: 50%;
	background-color: # 555;
}
.poleLogowania
{
height: 80%;
margin: 5%;
width: 80%;
background-color: #111;
  border-top-left-radius:12px;
  border-top-right-radius:12px;
  border-bottom-right-radius:12px;
  border-bottom-left-radius:12px;
  padding: 5%;
  color: #999;
}
.poleLogowania input
{
left: 10px;
width: 70%;
}
.kimJestesmy
{
  margin: 10px;
}